$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

$carousel-item-height: 300px;

@mixin zero-margin ($pad-up-dn: 0px, $pad-left-right: 0px) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin();  
}

.row-content {
  @include zero-margin(50px, 0);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0)
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background-color: $background-light;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}

body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background-color: $background-dark;

  .carousel-item {
    height: $carousel-item-height;

    img {
      position: absolute;
      left: 0;
      top: 0;
      min-height: 300px;
    }
  }
}

#carouselButton {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.modal {

  .modal-header {
    background-color: $background-dark;
    color: floralwhite;

    .close {
      color: floralwhite;
    }
  }

  .modal-body {
    background-color: $background-pale;
  }
}